<div class="container mt-5">
  <h1>Actualizar perfil de STRATEGOS</h1>
  <form (ngSubmit)="onSubmit()" #updateoffererForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="offerer.name" name="nombre"
        required>
      @if (updateoffererForm.submitted && !updateoffererForm.controls['nombre'].valid) {
      <div class="text-danger">
        El nombre es obligatorio.
      </div>}
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" [(ngModel)]="offerer.surname"
        name="apellidos" required>
      @if (updateoffererForm.submitted && !updateoffererForm.controls['apellidos'].valid) {
      <div class="text-danger">
        Los apellidos son obligatorios.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" placeholder="Dirección" [(ngModel)]="offerer.address"
        name="direccion" required>
      @if (updateoffererForm.submitted && !updateoffererForm.controls['direccion'].valid) {
      <div class="text-danger">
        La dirección es obligatoria.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="telefono">Número de teléfono</label>
      <input type="number" class="form-control" id="telefono" placeholder="Número de teléfono"
        [(ngModel)]="offerer.phoneNumber" name="telefono" required>
      @if (updateoffererForm.submitted && !updateoffererForm.controls['telefono'].valid) {
      <div class="text-danger">
        El número de teléfono es obligatorio.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="date" class="form-control" id="fechaNacimiento" [(ngModel)]="offerer.birthDate"
        name="fechaNacimiento" required>
      @if (updateoffererForm.submitted && !updateoffererForm.controls['fechaNacimiento'].valid) {
      <div class="text-danger">
        La fecha de nacimiento es obligatoria.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="formacion">Formación</label>
      <input type="text" class="form-control" id="formacion" [(ngModel)]="offerer.formation" name="formation">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!updateoffererForm.valid">
      Guardar cambios
    </button>&nbsp;
    <button class="btn btn-dark" routerLink="/offerer">Volver</button>
  </form>
</div>